<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for m in messages %}
    {{m}}
    {% endfor %}
    {{user.id}}
    {{user.name}}
    <a href="{% url 'app10:update' user.id %}">Update</a>
    <a href="{% url 'app10:delete' user.id %}">Delete</a>
    <a href="{% url 'app10:logout' %}">logout</a>

   
</body>
</html>